<div class="header">
  <%= link_to "Welcome", welcome_path, style: 'color:blue;' %> |
  <%= link_to "All posts", posts_path, style: 'color:blue;' %> |
  <% if logged_in? %>
    <%= link_to "Profile", current_user, style: 'color:green;' %> |
    <%= link_to "My Feed", feeds_path, style: 'color:green;' %> |
    <%= link_to "New post", new_post_path, style: 'color:green;' %> |
    <%= link_to "Log out", logout_path, method: :delete, style: 'color:red;' %> |
    <% if admin_logged_in? %>
      <%= link_to "Admin Page", admin_users_path, style: 'color:red;' %> |
    <% end %>
  <% else %>
    <%= link_to "Log in", login_path, style: 'color:green;' %> |
    <%= link_to "Sign up", signup_users_path, style: 'color:green;' %> |
    <%= link_to 'Login by FB', '/auth/facebook', style: 'color:blue;' %> |
    <%= link_to 'Login by TW', '/auth/twitter', style: 'color:blue;' %> |
  <% end %>
  <%= link_to "About", about_path, style: 'color:blue;' %>
</div>
