<h1><%= @user.name %><% if @user.admin? %> [Admin]<% end %><% if @user.blocked? %> [BLOCKED]<% end %></h1>

<p>
  <%= link_to user_image_path(@user) do %>
    <%= image_tag @user.image.file.thumb.url %><br>
  <% end %>
</p>

<div class="follow">
  <%= render partial: 'follow', locals: { user: @user } %>
</div>

<% if @user.following.count > 0 %><h3>Is following:</h3>
  <% @user.following.each do |user| %>
    <%= link_to user.name, user %>
  <% end %>
<% end %>

<%= render partial: 'posts/posts', locals: { posts: @user.posts } %>
