<%= link_to 'Get JSON', user_url(@user, format: :json), style: 'color:blue;' %>
<h1><%= @user.name %><% if @user.admin? %> [Admin]<% end %><% if @user.blocked? %> [BLOCKED]<% end %></h1>

<% unless current_user == @user %>
  <% unless current_user.following? @user %>
    <%= link_to 'Follow', follow_user_path(@user), method: :post, style: 'color:blue;' %>
  <% else %>
    <%= link_to 'Unfollow', unfollow_user_path(@user), method: :post, style: 'color:red;' %>
  <% end %>
<% end %>

<% if @user.following.count > 0 %><h3>Is following:</h3>
<% @user.following.each do |user| %>
<%= link_to user.name, user %>
<% end %><% end %>

<% if @user.followers.count > 0 %><h3>Is followed by:</h3>
<% @user.followers.each do |user| %>
<%= link_to user.name, user %>
<% end %><% end %>

<% unless @posts.count > 0 %><h2>Sorry no posts yet.</h2>
<% else %><h3>Posts:</h3>
<ul>
<% @user.posts.each do |post| %>
<li><%= link_to post.title, post %> Got (<%= post.likes.count %>) likes!</li>
<% end %>
</ul>
<% end %>
