<div class="col-sm-5">
   <h2 class="form-horizontal-heading">New post</h2>
   <%= form_for(post, :html => {:class => "form-horizontal"}) do |f| %>

     <% if post.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

         <ul>
         <% post.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
         </ul>
       </div>
     <% end %>

    <%= f.label :title, class: '' %>
      <div class="">
        <%= f.text_field :title, class: 'form-control', placeholder: 'title..' %>
      </div>

       <%= f.label :body, class: '' %>
       <div class="">
         <%= f.text_area :body, class: 'form-control', placeholder: 'Body..' %>
       </div>

       <%= f.label :image, class: '' %>
       <div class="">
         <%= f.file_field :image, class: 'form-control' %>
       </div>

       <div class="">
         <%= f.submit :Save, class: "btn" %>
       </div>
   <% end %>

</div>
