<p>
  <strong>Username:</strong>
  <%= link_to @post.user.name, @post.user %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong><br>
  <%= @post.body %>
</p>

<p>
  Got (<%= up_votes_of @post %>) likes!<br>
  Got (<%= down_votes_of @post %>) dislikes!<br>

  <% if logged_in? %>
    <% if current_user.voted? @post %>
      <%= link_to 'Unvote!', [@post, meth: :unvote], method: :patch, remote: true, style: 'color:blue;' %>
    <% else %>
      <%= link_to 'Like', [@post, meth: :up], method: :patch, remote: true, style: 'color:blue;' %>
      <%= link_to 'Dislike', [@post, meth: :down], method: :patch, remote: true, style: 'color:blue;' %>
  <% end %>
</p>
<% end %>
