<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong><br>
  <%= @post.body %>
</p>

<% if @post.image.present? %>
  <p>
    <strong>Image:</strong><br>
    <%= link_to post_image_path(@post) do %>
      <%= image_tag @post.image.file.panorama.url %><br>
    <% end %>
  </p>
<% end %>

<%= render partial: 'votes', locals: { resource: @post } %>
