<div class="row">
  <div class="col-md-6">
    <% if logged_in? %>
      <% if resource.voted? current_user %>
        <%= link_to 'Unvote!', [resource, meth: :unvote], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
      <% else %>
        <%= link_to 'Like', [resource, meth: :up], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
        <%= link_to 'Dislike', [resource, meth: :down], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
    <% end %>
  <% end %>
  </div>
  <div class="col-md-3">
    Got (<%= resource.up_votes %>) likes!
  </div>
  <div class="col-md-3">
    Got (<%= resource.down_votes %>) dislikes!
  </div>
</div>
