<div class="show_post">
  <%= render partial: 'post', locals: { post: @post } %>
</div>

<div class="comments">
  <%= render partial: 'comments/comments', locals: { resource: @post } %>
</div>

<% if logged_in? %>
<div class="row">
  <div class="col-sm-4">
    <%= form_for [@post, @post.comments.build], remote: true, :html => {:class => "form-horizontal save_comment"} do |f| %>
    <div class="row">
      <div class="col-sm-11">
        <%= f.text_area :body, class: 'form-control', placeholder: 'Comment..' %>
      </div>
      <div class="col-sm-1">
        <%= f.submit :Save, class: "btn"  %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
