<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Username |</th>
      <th>Post count |</th>
      <th>Follows |</th>
      <th>Followers count |</th>
      <th>Liked (posts) |</th>
      <th>Was liked (times) |</th>
      <th>Social |</th>
      <th>User |</th>
      <th>Admin |</th>
      <th>Normal |</th>
      <th>Blocked |</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.posts.count %></td>
        <td><%= user.following.count %></td>
        <td><%= user.followers.count %></td>
        <td><%= user.likes.count %></td>
        <td><%= user.got_likes %></td>
        <td><%= user.provider %></td>
        <% unless current_user == user%>
          <%= form_for [:admin, user] do |f| %>
            <td><%= f.radio_button :role, :user%></td>
            <td><%= f.radio_button :role, :admin%></td>
            <td><%= f.radio_button :status, :normal%></td>
            <td><%= f.radio_button :status, :blocked%></td>
            <td><%= f.submit %></td>
          <% end %>
          <td><%= link_to "Delete", [:admin, user], method: :delete, data: { confirm: "Are you sure?" }, style: 'color:red;' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
