<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Username |</th>
      <th>Post count |</th>
      <th>Follows |</th>
      <th>Followers count |</th>
      <th>Voted |</th>
      <th>Comented |</th>
      <th>Social |</th>
      <th>Role |</th>
      <th>Status |</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.posts.count %></td>
        <td><%= user.following.count %></td>
        <td><%= user.followers.count %></td>
        <td><%= user.votes.count %></td>
        <td><%= user.comments.count %></td>
        <td><%= user.provider %></td>
        <td><%= user.role %></td>
        <td><%= user.status %></td>
        <% unless current_user == user%>
          <td><%= link_to "Edit", edit_admin_user_path(user), style: 'color:blue;' %></td>
          <td><%= link_to "Delete", [:admin, user], method: :delete, data: { confirm: "Are you sure?" }, style: 'color:red;' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
