<div class="panel-footer">
  <div class="row">
        <div class="col-md-6">
          <% if logged_in? %>
            <% if resource.image.voted? current_user %>
              <%= link_to 'Unvote!', [resource, resource.image, meth: :unvote], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
            <% else %>
              <%= link_to 'Like', [resource, resource.image, meth: :up], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
              <%= link_to 'Dislike', [resource, resource.image, meth: :down], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
          <% end %>
        <% end %>
        </div>
        <div class="col-md-3">
          Got (<%= resource.image.up_votes %>) likes!
        </div>
        <div class="col-md-3">
          Got (<%= resource.image.down_votes %>) dislikes!
        </div>
  </div>
</div>
