<p>
  Got (<%= up_votes_of resource.image %>) likes!<br>
  Got (<%= down_votes_of resource.image %>) dislikes!<br>

  <% if logged_in? %>
    <% if current_user.voted? resource.image %>
      <%= link_to 'Unvote!', [resource, resource.image, meth: :unvote], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
    <% else %>
      <%= link_to 'Like', [resource, resource.image, meth: :up], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
      <%= link_to 'Dislike', [resource, resource.image, meth: :down], method: :patch, remote: true, style: 'color:blue;', class: :vote %>
  <% end %>
<% end %>
</p>
